#scoreTable{
  min-height:calc(100% - 100px);
  padding:15px;
  background-color:#ccc;
}

#tableTitle{
  font-size:50px;
  text-align:center;
}

table{
  table-layout:fixed;
  width:100%;
}

#tblTitles{
  text-align:center;
}

.score:nth-child(even){
  background-color:#ddd;
}
